.form_control {

}

.form_control.error input,
.form_control.error textarea {
    border: 2px solid red;
}

.form_control.error span {
    color: red;
}

.form_summary_error {
    border: 1px red solid;
    padding: 5px;
    color: red;
}